bool ExOh(char *str)
{
    int o=0,x=0;// 'o' i 'x' sa broq4i za o-tata i x-ovete
    do
    {
        if(*str=='x')
            x++;
        else
            o++;

        str++;
    }
    while(*str!='\0');

    if(x==o)
        return true;
    else
        return false;

}
